
.post{
    border:1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 1em;
    gap: 1em;
    border-radius:0.5em;
    width: 100%;
}

.post__more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2em;
}

.post__more p{
    font-size: 1em;
   
}
.post__more span {
    font-size: 1em;
    cursor: pointer;
}

.post__more span i{
    color: blue;
}

.post > p{
    font-size: 1.2em;
}