
.auth{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width:100%;
    max-width: 600px;
    margin:0 auto;


}


.auth button:nth-child(1){

}