
.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border: 1px solid black;
    padding:1em;
    border-radius:0.5em;
    width: 100%;
    margin: 2em 1em;

}

.signup__title{
    /* display: flex; */
    /* width: 100%; */
}
.signup__title h2{
    font-size: 1.6em;
    color: blue;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;

}

.signup__name{
    display: flex;
    width: 100%;
    gap: 0.5em;
}

.signup__name input{
    width:50%;
    padding:0.5em;
}
.signup__email{
    width:100%;
}
.signup__email input{
    width:100%;
    padding:0.5em;
    
}
.signup__password{
    width:100%;
    display: flex;
    gap: 0.5em;
}
.signup__password input{
    width:50%;
    padding:0.5em;
}
.signup__image_file{
    width:100%;
}
.signup__image_file input{
    width:100%;
    /* padding: 0.5em; */
}
.signup__submit{
    width:100%;
}
.signup__submit input{
    width:100%;
    padding:0.5em;
    cursor: pointer;
}
.signup__google_login_btn{
    width:100%;
    display: none;
}
.signup__google_login_btn button{
    width:100%;
    padding:0.5em;
    cursor: pointer;
    display: none;
}

.signup__google_login_btn button i{
   color: blue;
}

.signup__switch_btn{
    width:100%;
}
.signup__switch_btn button{
    width:100%;
    padding:0.5em;
    cursor: pointer;
}