
.signin{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border: 1px solid black;
    padding:1em;
    margin: 2em 1em;
    border-radius:0.5em;
    width: 100%;
}

.signin__title{

}
.signin__title h2{
    color: blue;
    font-size: 1.6em;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.signin__credential_cont{
    display: flex;
    width: 100%;
    gap: 0.5em;
}

.signin__credential_cont input{
    width: 50%;
    padding: 0.5em;

}

.signin__submit{
    width:100%;
}

.signin__submit input{
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
}

.signin__google_login_btn{
    width:100%;
    display: none;
}

.signin__google_login_btn button{
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
}
.signin__google_login_btn button i{
    color: blue;
}

.signin__switch_btn{
    width:100%;

}

.signin__switch_btn button{
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
}